{% extends "../index.njk" %}

{% block main %}
  <div id="timeline">
    <svg viewBox="0,0,{{tl.svgWidth}},{{tl.svgHeight}}">
      <defs>
        {% for method in tl.methods %}
          <linearGradient id="{{method.name}}">
            <stop class="{{method.toClass}}" offset="0%" />
            <stop class="{{method.fromClass}}" offset="100%" />
          </linearGradient>
        {% endfor %}
      </defs>
      <g>
        <line x1="{{tl.svgPad}}" y1="{{tl.svgHeight - tl.svgTicTop}}"
          x2="{{tl.svgWidth - tl.svgPad}}"
          y2="{{tl.svgHeight - tl.svgTicTop}}" />
        {% for tic in tl.tics %}
          <line x1="{{tic}}" y1="{{tl.svgHeight - tl.svgTicTop}}"
            x2="{{tic}}" y2="{{tl.svgHeight - tl.svgTicBottom}}" />
        {% endfor %}
      </g>
      <g>
        {% for tic in tl.tics %}
          <text x="{{tic - 10}}" y="{{tl.svgHeight - 4}}">
            10<tspan class="super" dy="-5">{{tl.bins - loop.index0}}</tspan>
          </text>
        {% endfor %}
      </g>
      <g>
        {% for method in tl.methods %}
          <rect x="{{method.x}}" y="{{18 * loop.index0}}"
            width="{{2*(tl.svgWidth - 2*tl.svgPad)/tl.svgPad}}" height="14"
            rx="9" fill="url(#{{method.name}})" />
        {% endfor %}
      </g>
    </svg>
  </div>

  <div class="table">
    {% for element in elements %}
      <div class="{{'element '}}
        {{'nonmetal' if element.category === 'diatomic nonmetal'}}
        {{'alkali-metal' if element.category === 'alkali metal'}}
        {{'alkaline-earth' if element.category === 'alkaline earth metal'}}
        {{'transition-metal' if element.category === 'transition metal'}}
        {{'post-transition-metal' if element.category === 'post-transition metal'}}
        {{'noble-gas' if element.category === 'noble gas'}}
        {{'metalloid' if element.category === 'metalloid'}}
        {{'polyatomic-nonmetal' if element.category === 'polyatomic nonmetal'}}
        {{'lanthanide' if element.category === 'lanthanides'}}
        {{'actinide' if element.category === 'actinides'}}
        {{'unknown' if element.category.includes('unknown')}}
        ">
        <p class="small">{{element.number}}</p>
        <h3>{{element.symbol}}</h3>
        <p class="smaller">{{element.name}}</p>
        <!-- <p class="smaller">{{element.category}}</p> -->
        <p class="smaller">{{element.atomic_mass.toFixed(3)}}</p>
      </div>
    {% endfor %}
    <div class="spacer-a"></div>
    <div class="spacer-b"></div>
    <div class="element lanthanide"></div>
    <div class="element actinide"></div>
    <div class="spacer-c"></div>
  </div>

{% endblock %}