{% extends "../index.njk" %}

{% block main %}
  <div class="grid">
    {% for row in range(0,6) %}
      <div id="row-{{row}}" class="row">
        {% for col in range(0,4) %}
          <div id="cell-{{row}}-{{col}}" class="cell">
            <div id="cell-back-{{row}}-{{col}}" class="cell-back"></div>
            <div id="cell-front-{{row}}-{{col}}" class="cell-front">
              <h1 class="symbol"></h1>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
    <div id="answer" class="row">
      {% for col in range(0,4) %}
        <div id="answer-{{col}}"  class="cell">
          <h1 class="symbol"></h1>
        </div>
      {% endfor %}
    </div>
    <div id="answer-name" class="row">
      {% for col in range(0,4) %}
        <div id="answer-name-{{col}}"  class="cell">
          <p></p>
        </div>
      {% endfor %}
    </div>
    <div id="backspace" class="cell disabled">
      <h1 class="symbol">&#9003;</h1>
    </div>
    <div id="enter" class="cell disabled">
      <h1 class="symbol">&crarr;</h1>
    </div>
  </div>
  <div class="table">
    {% for element in elements %}
      <div id="{{element.name.toLowerCase()}}" class="element {{element.category}}">
        <p class="element-number">{{element.number}}</p>
        <h3 class="element-symbol">{{element.symbol}}</h3>
        <p id="{{element.symbol}}" class="element-name">{{element.name}}</p>
        {# <p class="element-category">{{element.category}}</p> #}
        <p class="atomic-mass">{{element.atomic_mass.toFixed(2)}}</p>
      </div>
    {% endfor %}
    <div class="spacer-a"></div>
    <div class="spacer-b">
    </div>
    <div class="element lanthanides lanthanide"></div>
    <div class="element actinides actinide"></div>
    <div class="spacer-c"></div>
  </div>

{% endblock %}