.table {
  --height: clamp(2.8rem, 6vw, 4.6rem);
  --width: clamp(20px, 4.7vw, 62px);
  --pad: clamp(2px, 0.2vw, 4px);
  --gap: clamp(2px, 0.4vw, 5px);
  --font: clamp(0.4rem, 2vw, 1.5rem);

  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-areas:
    ' . sa sa sa sa sa sa sa sa sa sa sa sa sa sa sa sa  .'
    ' .  . sb sb sb sb sb sb sb sb sb sb  .  .  .  .  .  .'
    ' .  . sb sb sb sb sb sb sb sb sb sb  .  .  .  .  .  .'
    ' .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .'
    ' .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .'
    ' .  .  l  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .'
    ' .  .  a  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .'
    ' .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .'
    'sc sc  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .'
    'sc sc  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .';
  gap: var(--gap);
}

#word {
  display: flex;
  flex-direction: row;
  margin-left: calc(var(--width) + var(--gap));
  margin-top: calc(var(--height)/2);
}

.word-symbol {
  border-radius: 6px;
  border: var(--pad) #aaa solid;
  opacity: 80%;
  transition: opacity 300ms ease;
  height: calc(var(--height));
  width: calc(2 * var(--width) + var(--gap));
  margin-right: calc(var(--gap));
}

.word-symbol-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  background-color: #222;
  border-radius: 4px;
  height: calc(var(--height) - 2* var(--pad));
  width: calc(2 * var(--width) + var(--gap) - 2* var(--pad));
}

.word-symbol h1 {
  white-space: nowrap;
  padding: 0;
  font-size: calc(2.5 * var(--font));
  text-shadow: 0.5px 0px 0.5px #000, -0.5px 0px 0.5px #000, 0px 0.5px 0.5px #000, 0px -0.5px 0.5px #000;
}

.element {
   text-align: center;
   counter-increment: el;
   padding: var(--pad);
   border-radius: 4px;
   opacity: 66%;
   transition: opacity 300ms ease;
   height: var(--height);
   width: var(--width);
 }

 .element:hover {
   opacity: 100%;
   transition: opacity 50ms ease;
 }
 
.element-symbol, .element-number, .element-name, .atomic-mass {
  white-space: nowrap;
  margin: 0;
}
 
.element-symbol {
  line-height: 1;
  display: inline-block;
  padding: 0;
  font-size: clamp(0.4rem, 2vw, 1.5rem);
}

.element-number {
  font-size: clamp(0.35rem, 0.8vw, 0.7rem);
  text-align: left;
  line-height: 1;
  padding-bottom: clamp(2px, 0.3vw, 4px);
}

.element-name, .atomic-mass {
  font-size: clamp(0.25rem, 0.58vw, 0.5rem);
}

.element-name {
  display: none;
} 

@media screen and (min-width:880px){
  .element-name {
    display: inherit;
  } 
}

.spacer-a {
  grid-area: sa;
}

.spacer-b {
  grid-area: sb;
}

.spacer-c {
  grid-area: sc;
}

.nonmetal {
  background-color: #6694ff;
  stop-color: #6694ff;
}

.alkali-metal {
  background-color: #ff8e6c;
  stop-color: #ff8e6c;
}

.alkaline-earth {
  background-color: #ffc46c;
  stop-color: #ffc46c;
}

.transition-metal{
  background-color: #ffef6c;
  stop-color: #ffef6c;
}

.post-transition-metal {
  background-color: #d0ff68;
  stop-color: #d0ff68;
}

.polyatomic-nonmetal {
  background-color: #7ad3ff;
  stop-color: #7ad3ff;
}

.metalloid {
  background-color: #8fffa0;
  stop-color: #8fffa0;
}

.noble-gas {
  background-color: #ac9aff;
  stop-color: #ac9aff;
}

.unknown {
  background-color: #efefef;
  stop-color: #efefef;
}

.lanthanide {
  grid-area: l;
  background-color: #ffbce9;
  stop-color: #ffbce9;
}

.actinide {
  grid-area: a;
  background-color: #ff79cc;
  stop-color: #ff79cc;
}

.element:nth-child(n + 57):nth-child(-n + 71) {
  background-color: #ffbce9;
}

.element:nth-child(n + 57):nth-child(-n + 71) {
  grid-row: 9;
}

.element:nth-child(n + 89):nth-child(-n + 103) {
  background-color: #ff79cc;
}

.element:nth-child(n + 89):nth-child(-n + 103) {
  grid-row: 10;
}
