@import url("sanitize.css");
@import url("timeline.css");

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: normal;
  src: local(''),
  url('../fonts/merriweather-v28-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  --near-black: #191919;
  --dark-grey: #222;
  --light-grey: #bbb;
  --lighter-grey: #efefef;
  --near-white: #fdfdfd;
}

h1, h2, h3 {
  font-family: 'Merriweather', serif;
}

h4, h5, h6, p, li, td {
  font-family:  sans-serif;
}

header h1, header h2, header h3, header h4, header h5, header h6, header p, header li {
  color: var(--near-white)
}

.page h2 {
  color: var(--light-grey);
  text-align: center;
}

h1 {
  display: inline-block;
  color: var(--near-white);
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

body {
  display: grid;
  grid-template:
      " h    h    h"   auto
      " .    m    ."   1fr
      " f    f    f"   auto
      / 1fr  20fr 1fr;
  min-height: 100vh;
  min-width: 480px;
  justify-content: center;
  background-color: var(--dark-grey);
  opacity: 100%;
  transition: opacity 300ms ease;
}

header {
  grid-area: h;
  display: flex;
  width: 100%;
  text-align: center;
  background-color: var(--near-black);
  align-items: center;
  justify-content: space-around;
}

main {
  grid-area: m;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 2rem auto;
}

footer {
  grid-area: f;
  display: flex;
  justify-self: center;
  width: 100%;
  background-color: var(--near-black);
  align-items: center;
  justify-content: space-around;
}

footer p, footer a {
  color: var(--light-grey);
  margin: 0.3rem auto;
}

.small {
  font-size: 60%;
  text-align: left;
  line-height: 1;
}

.smaller {
  font-size: 40%;
}

.table {
 display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-areas:
      ' . sa sa sa sa sa sa sa sa sa sa sa sa sa sa sa sa  .'
      ' .  . sb sb sb sb sb sb sb sb sb sb  .  .  .  .  .  .'
      ' .  . sb sb sb sb sb sb sb sb sb sb  .  .  .  .  .  .'
      ' .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .'
      ' .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .'
      ' .  .  l  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .'
      ' .  .  a  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .'
      ' .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .'
      'sc sc  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .'
      'sc sc  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .';
      gap: 4px;
}

.table h3 {
  line-height: 1;
  display: inline-block;
  padding: 0;
}

.table h3, .table p {
  /* opacity: 30%; */
  white-space: nowrap;
  margin: 0;
}

.element {
  text-align: center;
  counter-increment: el;
  padding: 3px;
  border-radius: 4px;
  border: 0px black solid;
  opacity: 70%;
  transition: opacity 300ms ease;
}

.element:hover {
  opacity: 100%;
  transition: opacity 50ms ease;
}

.spacer-a {
  grid-area: sa;
}

.spacer-b {
  grid-area: sb;
}

.spacer-c {
  grid-area: sc;
}

.nonmetal {
  background-color: #6694ff;
  stop-color: #6694ff;
}

.alkali-metal {
  background-color: #ff8e6c;
  stop-color: #ff8e6c;
}

.alkaline-earth {
  background-color: #ffc46c;
  stop-color: #ffc46c;
}

.transition-metal{
  background-color: #ffef6c;
  stop-color: #ffef6c;
}

.post-transition-metal {
  background-color: #d0ff68;
  stop-color: #d0ff68;
}

.polyatomic-nonmetal {
  background-color: #7ad3ff;
  stop-color: #7ad3ff;
}

.metalloid {
  background-color: #8fffa0;
  stop-color: #8fffa0;
}

.noble-gas {
  background-color: #ac9aff;
  stop-color: #ac9aff;
}

.unknown {
  background-color: #efefef;
  stop-color: #efefef;
}

.lanthanide {
  grid-area: l;
  background-color: #ffbce9;
  stop-color: #ffbce9;
}

.actinide {
  grid-area: a;
  background-color: #ff79cc;
  stop-color: #ff79cc;
}

.element:nth-child(n + 57):nth-child(-n + 71) {
 background-color: #ffbce9;
}

.element:nth-child(n + 57):nth-child(-n + 71) {
  grid-row: 9;
}

.element:nth-child(n + 89):nth-child(-n + 103) {
 background-color: #ff79cc;
}

.element:nth-child(n + 89):nth-child(-n + 103) {
  grid-row: 10;
}