@import url("sanitize.css");
@import url("timeline.css");
@import url("elements.css");

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: normal;
  src: local(''),
  url('../fonts/merriweather-v28-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  --near-black: #191919;
  --dark-grey: #222;
  --light-grey: #bbb;
  --lighter-grey: #efefef;
  --near-white: #fdfdfd;
}

h1, h2, h3 {
  font-family: 'Merriweather', serif;
}

h4, h5, h6, p, li, td {
  font-family:  sans-serif;
}

header h1, header h2, header h3, header h4, header h5, header h6, header p, header li {
  color: var(--near-white)
}

.page h2 {
  color: var(--light-grey);
  text-align: center;
}

h1 {
  display: inline-block;
  color: var(--near-white);
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

body {
  display: grid;
  grid-template:
      " h    h    h"   auto
      " .    m    ."   1fr
      " f    f    f"   auto
      / 1fr  20fr 1fr;
  min-height: 100vh;
  min-width: 480px;
  justify-content: center;
  background-color: var(--dark-grey);
  opacity: 100%;
  transition: opacity 300ms ease;
}

header {
  grid-area: h;
  display: flex;
  width: 100%;
  text-align: center;
  background-color: var(--near-black);
  align-items: center;
  justify-content: space-around;
}

main {
  grid-area: m;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  padding: 2rem 0;
  margin: 0 auto;
  background-color: var(--dark-grey);
}

footer {
  grid-area: f;
  justify-self: center;
  width: 100%;
  background-color: var(--near-black);
}

footer div {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p, footer a {
  color: var(--light-grey);
  margin: 0;
}

footer img {
  height: 1rem;
  padding: 0 0.5rem;
}