<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <style> html { background-color: black; } body { opacity: 0%; } </style>
    <title>Radiometric</title>
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Jesse Templin" />
    {# <meta name="description" content="A webcomic about a robot that tries to outlive the sun" /> #}
    {# <script src="https://info.survivingsol.com/script.js" data-site="XOFAKUGK" defer></script> #}
    {# <script type="text/javascript" src="/scripts/main.js"></script> #}
    <link rel="stylesheet" href='/css/main.css' />
  </head>
  <body>
  
    <header>
      <h1>Radiometric</h1>
    </header>

    <main>
      {% block main %}{% endblock %}
    </main>

    <footer>
      <div>
        <p><a href="https://jessetemplin.com">Jesse Templin</a></p>
        <img src="/unlicense.svg" />
        <p>{{year}}</p>
      </div>
    </footer>

    {# <script type="text/javascript" src="/scripts/main.js"></script> #}
  </body>
</html>