<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <style> html { background-color: black; } body { opacity: 0%; } </style>
    <title>Periodle</title>
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Jesse Templin" />
    <meta name="description" content="A word game using the periodic table" />
    <link rel="stylesheet" href='/css/main.css' />
  </head>
  <body>
  
    <header>
      <h1>Periodle</h1>
    </header>

    <main>
      {% block main %}{% endblock %}
    </main>

    <footer>
        <a href="https://github.com/jessetemp/radiometric"><p>Jesse Templin &copy; {{year}}</p></a>
    </footer>

    <script type="text/javascript" src="/scripts/main.js"></script>
    <script src="https://info.periodle.com/script.js" data-site="YDLYFMMU" defer></script>
  </body>
</html>